<div class="card">
    <div class="card-header">
        <h4>Acreditar usuario: <strong>{{user.username}}</strong> </h4>
        <p class="text-muted">Precio por hora:${{minPrice}}</p>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <form action="" id="time-form" class="" method="post">
                    <div class="input-group mb-3">
                        <input id="time" style="font-size: 18px;" type="number" class="form-control" placeholder="Ej: 20"
                            aria-label="Ej: 20" aria-describedby="basic-addon2">

                            <input type="hidden" id="user" value="{{user.id}}">
                        <div class="input-group-append">
                            <button id="save" style="font-size: 18px;" class="btn btn-primary form-control" type="button"><i class="fa fa-plus-circle"></i></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- <div class="card-footer">
        <p>Ejemplo: 30d = 30dias, 12h = 12horas, 10m = 10minutos. </p>
    </div> -->
</div>
<script>
    $(document).ready(function(){
        $('#save').on('click', function(e){
            e.preventDefault();
            let time = $('#time').val();
            if(time && parseInt(time) >= parseInt('{{minPrice}}') && parseInt(time) <= parseInt('{{minPrice}}') * 24) {
                $('#time-form').addClass('disabled');
                $.ajax({
                    url: Routing.generate('routerOs-save-time'),
                    data:{
                        id: $('#user').val(),
                        time:time
                    },
                    type:'GET',
                    success: (response) => {
                        if(response.type === 'success'){
                            toastr.success(response.message)
                            if( typeof finance() != 'function') finance();
                            app.dialogs.close($(this));
                        }else{
                            toastr.error(response.message)
                        }
                    }
                })
            } else {
                toastr.error('El monto debe estar comprendido entre {{minPrice}} y '+parseInt('{{minPrice}}') * 24)
            }
        })
    })
</script>