
<tr>
    <td>{{t['name']}}</td>
    <td>{{t['rx-packets-per-second']}}</td>
    <td>{{t['rx-bits-per-second']}}</td>
    <td>{{t['fp-rx-packets-per-second']}}</td>
    <td>{{t['fp-rx-bits-per-second']}}</td>
    <td>{{t['rx-drops-per-second']}}</td>
    <td>{{t['rx-errors-per-second']}}</td>
    <td>{{t['tx-packets-per-second']}}</td>
    <td>{{t['tx-bits-per-second']}}</td>
    <td>{{t['fp-tx-packets-per-second']}}</td>
    <td>{{t['fp-tx-bits-per-second']}}</td>
    <td>{{t['tx-drops-per-second']}}</td>
</tr>
