{% form_theme form '@AdminLTE/layout/form-theme.html.twig' %}
{{ form_start(form) }}
<div class="row">
    <div class="col-md-5">{{ form_row(form.mount) }}</div>
    <div class="col-md-7">{{ form_row(form.comment) }}</div>
    <div class="col-md-6">
        <button class="btn btn-primary" data-loading-text="<i class='fa fa-circle-o-notch fa-spin'></i> Guardando..."><i class="fa fa-save"></i> {{ button_label|default('Adicionar') }}</button>
    </div>
</div>
{{ form_end(form) }}
<script>
    $(document).ready(function(){
        $('form[name="investmenst"]').on('submit', function (event) {
            const form = $(this)
            app.forms.submit(form, function (response) {
                if (response.type === 'success') {
                    toastr.success(response.message)
                    app.dialogs.close(form);
                } else {
                }
            }, event);
        })
    })
</script>