{{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">{{form_row(form.name)}}</div>
        <div class="col-md-3">{{form_row(form.addresPool)}}</div>
        <div class="col-md-3">{{form_row(form.rateLimit)}}</div>
        <div class="col-md-3">{{form_row(form.price)}}</div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit" class="btn btn-primary" style="margin-right: 10px;"><i class="fa fa-save"></i> Guardar</button>
            <a href="{{ path('user_profile_index') }}" class="btn btn-secondary"><i class="fa fa-arrow-left"></i> Regresar</a>
        </div>
    </div>
{{ form_end(form) }}
