{% extends 'base.html.twig' %}

{% block title %}UserProfile index{% endblock %}

{% block page_content_before %}
<div class="container">
    <div class="card">
        <div class="card-header">
                <a href="{{ path('user_profile_new') }}" class="btn btn-primary"><i class="fa fa-plus-circle"></i>  Nuevo perfil</a>
            </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="table" class="display nowrap table-striped table-bordered" cellspacing="0"  style="width:100%">
                    <thead>
                        <tr>
                            <th>Nombre</th>
                            <th>AddresPool</th>
                            <th>RateLimit</th>
                            <th>Precio</th>
                            <th>Roles</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for user_profile in user_profiles %}
                        <tr>
                            <td>{{ user_profile.name }}</td>
                            <td>{{ user_profile.addresPool }}</td>
                            <td>{{ user_profile.rateLimit }}</td>
                            <td>{{ user_profile.price }}</td>
                            <td>{{ user_profile.roles is defined ? user_profile.roles|join(', ') :'' }}</td>
                            <td>
                                <a class="btn btn-warning" href="{{ path('user_profile_edit', {'id': user_profile.id}) }}"><i class="fa fa-pencil-alt"></i></a>
                            </td>
                        </tr>
                        {% else %}
                        <tr>
                            <td colspan="6">no records found</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready( function () {
            var table = $('#table').DataTable({
                 responsive: true,
            });
        } );
</script>
{% endblock %}