{% extends 'base.html.twig' %}

{% block title %}User index{% endblock %}

{% block page_content_before %}

<div class="container">
    <div class="card">
        <div class="card-header">
            <a href="{{ path('user_new') }}" data-tippy-content="Nuevo usuario" class="btn btn-primary"><i
                    class="fa fa-user-plus"></i></a>
        </div>
        <div class="card-body">
            <table id="table" class="display nowrap table-striped table-bordered" cellspacing="0" style="width:100%">
                <thead>
                    <tr>
                        <th>Usuario</th>
                        <th>Mac</th>
                        <th>Contraseña</th>
                        <th>Perfil</th>
                        <th>Tiempo conectado</th>
                        <th>Bytes descargados</th>
                        <th>Bytes cargados</th>
                        <th>Comentario</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    {% for user in users %}
                    <tr>
                        <td>{{ user['nombre'] is defined ? user['nombre'] : '' }}</td>
                        <td>{{ user['mac']  is defined ? user['mac'] : ''}}</td>
                        <td>
                            <div class="input-group">
                                <input id="{{user['name']}}" type="password" value="{{ user['password'] is defined ? user['password']: ''}}" readonly class="form-control" style="max-width: 100px; height: 24px;" placeholder="password" aria-label="password" aria-describedby="basic-addon2">
                                <div class="input-group-append">
                                    <button class="show btn btn-info" data-target="{{user['name']}}" type="button"><i class="fa fa-eye-slash"></i></button>
                                </div>
                            </div>
                        </td>
                        <td>{{ user['profile'] is defined ? user['profile']: '' }}</td>
                        <td>{{ formatDTM(user['uptime']) }}</td>
                        <td>{{ formatBites(user['bytes-in'],2) }}</td>
                        <td>{{ formatBites(user['bytes-out'],2) }}</td>
                        <td>{{ user['comment'] is defined ? user['comment'] : '' }}</td>
                        <td style="white-space: nowrap">
                            <a href="#" data-tippy-content="Acreditar usuario <strong>{{ user['name'] }}</strong>"
                                class="add-time text-success"
                                data-user-id="{{user['localId'] is defined ? user['localId'] : '' }}"><i
                                    class="fa fa-clock"></i></a>
                            {% if user['localId'] is defined %}
                            <a data-tippy-content="Editar usuario <strong>{{ user['name'] }}</strong>"
                                href="{{path('user_edit',{ id:user['localId'] })}}" class="text-info"><i
                                    class="fa fa-edit"></i></a>
                            <form style="float:right" method="post"
                                action="{{ path('user_delete', {'id': user['localId']}) }}"
                                onsubmit="return confirm('Realmente desea eliminar el usuario {{ user["name"] }}');">
                                <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user['localId']) }}">
                                <button style="border: transparent; background-color: transparent;" class="text-danger"
                                    data-tippy-content="Eliminar usuario <strong>{{ user['name'] }}</strong>"><i
                                        class="fa fa-trash"></i></button>
                            </form>
                            {% endif %}
                        </td>
                    </tr>
                    {% else %}
                    <tr>
                        <td colspan="8">no records found</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

</div>

{% endblock %}

{% block javascripts %}
{{parent()}}
<script>
    $(document).ready(function () {
        var table = $('#table').DataTable({
            responsive: true,
        });
        $('#table').on('click', '.add-time', function (event) {
            event.preventDefault();
            const scope = $(this)
            app.dialogs.create({
                url: Routing.generate('routerOs-add-time', { id: scope.data('user-id') }),
                columnClass: 'col-md-4'
            })
        })
        $('#table').on('click', '.show', function (event) {
            event.preventDefault();
            const scope = $(this)
            let input = $('#'+scope.data('target'));
            if (input.attr('type') === "password") {
                input.attr('type','text');
                scope.html('<i class="fa fa-eye"></i>')
            } else {
                input.attr('type','password');
                scope.html('<i class="fa fa-eye-slash"></i>')
            }
        })
    });
</script>
{% endblock %}